<!--Main Navigation-->
<header>

  <!--Navbar-->
  <!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <strong>MDB</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>-->

  <app-headermain></app-headermain>

  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img rgba-grey-strong">
      <div class="container flex-center">
        <div class="d-flex align-items-center">
          <div class="row flex-center pt-5 t-3">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <h1 class="display-4 font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Welcome To Home Loan Center</h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Financial Services has been helping people achieve their financial dream since 1988. What can we help you with?</h6>
                <br>
                <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>
              </div>
            </div>

            <div class="col-md-6 col-xl-5">
              <!--Form-->
              <div class="card wow fadeInRight" data-wow-delay="0.3s">
                <div class="card-body z-depth-2">
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="dark-grey-text">
                      <strong>GET STARTED TODAY!</strong>
                    </h3>
                    <hr>
                  </div>

                  <!--Body-->
                  <!--<div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control">
                    <label for="form3">Your name</label>
                  </div>-->

                  <div class="md-form">
                    <div class="row">
                      <div class="col-md-2 mb-1">
                        <i class="fa fa-user prefix grey-text"></i>
                      </div>

                      <div class="col-md-5 mb-4">
                        <!--<label for="validationCustom01">First name</label>-->
                        <!--<input type="text" class="form-control" id="validationCustom01" value="" required>
  <div class="valid-feedback">
    Looks good!-->
                        <input type="text" id="form3" class="form-control" value="" required>
                        <label for="form3">Your name</label>

                      </div>
                      <div class="col-md-5 mb-4">
                        <!--<label for="validationCustom02">Last name</label>-->
                        <input type="text" class="form-control" id="validationCustom02" value="" required>
                        <label for="validationCustom02">Last name</label>
                      </div>
                    </div>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                  </div>
                  <div class="md-form">
                    <i class="fa fa-phone prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your phone</label>
                  </div>

                  <!--Textarea with icon prefix-->
                  <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="form8" class="md-textarea"></textarea>
                    <label for="form8">Your message</label>
                  </div>

                  <div class="text-center">
                    <button class="btn btn-indigo">Submit</button>
                    <!--<hr>
                    <fieldset class="form-check">
                      <input type="checkbox" class="form-check-input" id="checkbox1">
                      <label for="checkbox1" class="form-check-label dark-grey-text">Subscribe me to the newsletter</label>
                    </fieldset>-->
                  </div>

                </div>
              </div>
              <!--/.Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>
<!--Main Navigation-->


<app-footermain></app-footermain>


<!--<app-footerretail></app-footerretail>-->

