<style>
  .jumbotron{
    padding:20px 0 20px 20px;
  }
</style>

<!--<div class="jumbotron">-->
<div class="jumbotron container-fluid">
  <!--<h1 class="display-3">Hello, world!</h1>-->
  <strong class="lead">Land Home Financial Services, Inc, has partnered with the industry’s top appraisal vendor management software platform.
    Click the link below to launch to Land Home Financials’ Mercury site.
    <!--Request Credentials for Mercury Network <a href="https://wholesale.lhfs.com/mercury-network-credentials-request/" target="_blank">[Click Here]</a>--></strong>
  <hr class="my-4">
  <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>-->

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card border-primary mb-2" style="max-width: 25rem;">
        <!--<div class="card-header">Header</div>-->
        <div class="card-body text-primary">
          <h3 class="card-title">Mercury Network</h3>
          <p class="card-text">*All Fannie Mae, Freddie Mac, FHA, VA, Elite, Jumbo Supreme and Expanded products</p>
          <a href="https://landhomefinancialservicesincwholesale.vmpclient.com/SignIn.aspx" target="_blank"><button type="button" class="btn btn-primary btn-lg">Order with Mercury Network</button></a>
        </div>
      </div>
      </div>

      <div class="col-lg-6"><div class="card border-primary mb-2" style="max-width: 25rem;">
        <!--<div class="card-header">Header</div>-->
        <div class="card-body text-primary">
          <h3 class="card-title">Land Home Wholesale (LHFSW)</h3>
          <p class="card-text">*Jumbo Premier Loans<br><br></p>

          <a href="https://online.lhfs.com/wholesale/appraisal-order/" target="_blank"><button type="button" class="btn btn-secondary btn-lg"><i class="fa fa-shopping-cart"></i> Order Jumbo Premier Appraisal</button></a>
        </div>
      </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6">
        <blockquote class="blockquote">
          <p class="mb-0"><i class="fa fa-file-pdf-o"></i> <a href="https://wholesale.lhfs.com/download/AppraisalOrderTrainingLandHome.pdf" target="_blank">Appraisal Ordering Guide</a></p>
          <p class="mb-0"><i class="fa fa-youtube"></i> <a href="https://www.youtube.com/embed/VtQD_O5O_b0?autoplay=1" target="_blank">Mercury Network Instructional Video</a></p>
          <p class="mb-0"><i class=" fa fa-gear"></i> <a href="https://wholesale.lhfs.com/mercury-network-credentials-request/" target="_blank">Request Credentials for Mercury Network</a></p>
          <!--<footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
        </blockquote>
      </div>

      <div class="col-lg-6">
        <blockquote class="blockquote">
          <!--<p class="mb-0"><i class=" fa fa-cog"></i><a href="https://wholesale.lhfs.com/mercury-network-credentials-request/" target="_blank"> Request Credentials for Mercury Network</a></p>-->
          <p class="mb-0"><i class="fa fa-file-pdf-o"></i> <a href="https://wholesale.lhfs.com/appraisal-fees/" target="_blank">LHFSW Appraisal Fee Sheet</a></p>
          <!--<p class="mb-0">Appraisal Ordering Guide</p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
        </blockquote>
      </div>

    </div>


  </div>



</div>
<!--hero section --end-->

<!--alert section-->
<div class="alert alert-dismissible alert-primary">
  <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
  <!--<h4 class="alert-heading">Warning!</h4>-->
  <p class="mb-0">*Jumbo Premier, Jumbo Supreme and all Expanded Loans will require an Appraisal Review Fee of $150. Jumbo Elite requires a $350 Appraisal Review Fee. These fees need to be disclosed on the LE.</p>

  <p class="mb-0">** VA Loans - <a href="https://vip.vba.va.gov/portal/VBAH/Home" target="_blank" class="alert-link">[Click here]</a> to launch to the Department of Veterans Affairs Portal to order VA Appraisal</p>
</div>
<!--alert section-->

<!--alert section-->
<!--<div class="alert alert-dismissible alert-primary">
  <p class="mb-0">** VA Loans - <a href="https://vip.vba.va.gov/portal/VBAH/Home" target="_blank" class="alert-link">Click here</a> to launch to the Department of Veterans Affairs Portal to order VA Appraisal</p>
</div>-->
<!--alert section-->
