
/*
.middle_hov {
  display: inline-block;
  vertical-align: center;
  margin-left: 50%;
  transform: translateX(-50%)
}
*/

/*
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
*/

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

