<!--main navbar here-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-black scrolling-navbar" [containerInside]="true">

  <logo style="margin-left: 5%">
    <a class="logo navbar-brand" href="https://lhfs.com" target="_blank">
      <a href="/"><img src="https://cdn.yourdomain100.com/cdn/retail_images/lhfscom/logo_lhfs-cu_b_420x108.png" wide="420px" height="108px" alt="Land Home Wholesale"></a>
    </a>
  </logo>

  <links>
    <ul class="navbar-nav mr-auto" style="margin-left: 20px">
     <!--<li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>-->
      <!--<li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/knowledgecenter">Resource Center</a>
      </li>-->
      <!--<li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/rates">Rates</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/license">License</a>
      </li>-->
      <li class="nav-item waves-light" mdbRippleRadius>
        <!--<a class="nav-link" routerLink="/contactus">Contact Us</a>-->
        <!--<button type="button" class="btn btn-outline-info btn-rounded waves-effect">Give us a call:<h4><i class="fa fa-phone"></i>800-900-5000</h4></button>-->
      </li>
    </ul>

<!--<ul class="navbar-nav nav-flex-icons">
  <li class="nav-item waves-light" mdbRippleRadius>
  <a class="nav-link">
    <img src="http://cdn.yourdomain100.com/images_2018/logo_lhfs-cu_b_420x108.png">
  </a>
  </li
     </ul>-->

    <ul class="navbar-nav nav-flex-icons">

      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
        <!--Give us a call: <h4><i class="fa fa-phone"></i>855-995-5014</h4>-->
<button type="button" class="btn btn-outline-default waves-effect">Give us a call:<h4><i class="fa fa-phone"></i>800-900-5000</h4></button>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </links>

</mdb-navbar>








