<!--<html lang="en" class="full-height">-->


<app-headermain></app-headermain>




<div class="container-fluid">
  <div class="">
  </div>

  something here
  <div class="container-fluid">

    <!--Section: Features v.1-->
    <section class="text-center">

      <!--Section heading-->
      <h1 class="py-5 font-bold">Why is it so great?</h1>
      <!--Section description-->
      <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam.</p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-r">
          <i class="fa fa-area-chart fa-3x red-text"></i>
          <h5 class="font-bold mt-3">Analytics</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
            hic.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
          <i class="fa fa-book fa-3x cyan-text"></i>
          <h5 class="font-bold mt-3">Tutorials</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
            hic.
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
          <i class="fa fa-comments-o fa-3x orange-text"></i>
          <h5 class="font-bold mt-3">Support</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
            hic.
          </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Features v.1-->
  </div>

  something here

  <div class="container-fluid">

    <!--Section: Testimonials v.3-->
    <section class="section team-section text-center pb-3">

      <!--Section heading-->
      <h1 class="font-bold h1 py-5">Our Customers Say It Best</h1>
      <!--Section description-->
      <p class="section-description">"I was extremely impressed with the level of customer server, attentiveness, timeliness and accuracy. I proceeded to
        do two additional home refi's through Land Home Financial, and i must say, I was not disappointed! I am very happy
        with Land Home Financial, and wouldn't hesitate to recommend them to a friend or family member!""
      </p>

      <!--Grid row-->
      <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-4 mb-r">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar">
              <img src="https://cdn.lhfs.com/lhfscdn/retail_images/lo/1539.jpg" width="200px" height="200px" class="rounded-circle img-responsive z-depth-1">
            </div>

            <!--Content-->
            <h4 class="mb-3 dark-grey-text">
              <strong>Roya Nadji</strong>
            </h4>
            <h6 class="mb-3 font-bold blue-text">Loan Officer at the Walnut Creek Branch</h6>
            <h6 class="mb-3 font-bold blue-text">NMLS #286862</h6>
            <p>
              <i class="fa fa-quote-left grey-text"></i> I was extremely impressed with the level of customer server, attentiveness, timeliness and accuracy.</p>

            <!--Review-->
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star-half-full"> </i>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>

            <!--Content-->
            <h4 class="mb-3 dark-grey-text">
              <strong>John Doe</strong>
            </h4>
            <h6 class="mb-3 font-bold blue-text">Web Developer</h6>
            <p>
              <i class="fa fa-quote-left grey-text"></i> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea commodi.</p>

            <!--Review-->
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-r">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <!--Content-->
            <h4 class="mb-3 dark-grey-text">
              <strong>Maria Kate</strong>
            </h4>
            <h6 class="mb-3 font-bold blue-text">Loan Officer at the Walnut Creek Branch NMLS #286862</h6>
            <p>
              <i class="fa fa-quote-left grey-text"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
              atque corrupti.</p>

            <!--Review-->
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star-o"> </i>
            </div>

          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Testimonials v.3-->

  </div>


</div>


<app-footermain></app-footermain>

<!--</html>-->>
