<!--The content below is only a placeholder and can be replaced.-->

<!--<image src="<img src="https://cdn.lhfs.com/lhfscdn/retail_images/lhfscom/lhfs_gold_v11_275_66_white.png">-->

<!--navbar - blue -->
<!--
  <a routerLink="aboutus" routerLinkActive="active">About Us</a>
  <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>-->

<!--<app-aboutus></app-aboutus>-->
<router-outlet></router-outlet>
